{% extends "base.html.twig" %}
{% block title %} Page de bienvenue {% endblock %}

{% block body %}
<main class="container">
<h2>{{titre}}</h2>
{{include('front/_menu.html.twig',{currentPage: 0})}}
<div class="row">
<div class="col-9">
{{render(path('articles'))}}
{{render(controller('App\\Controller\\HomeController::listArticles'))}}
</div>
</div>
</main> 
{% endblock %}